<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Observation</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" />
    <link rel="stylesheet" href="/styles/upload.css">
</head>
<body>
    <h1>Upload New Observation</h1>
    <form id="observationForm">
        <label for="speciesName">Species:</label>
            <input type="text" id="speciesName" required>
        <label for="location">Location:</label>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <div id="map"></div>
        <label for="date">Date:</label>
            <input type="datetime-local" id="date" required>
        <label for="image">Image:</label>
            <input type="file" id="image" accept="image/*" required>
        <input type="submit" value="Submit" id="submitBtn">
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
    <script src="./scripts/upload_form.js"></script>
</body>
</html>